.ModalPopup-wrapper {

}

.button-open-modal {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background: linear-gradient(90deg, rgba(253, 142, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
    transition: all 0.2s ease-in;

    &.active {
        background: var(--soft-blue);
    }
}

.button-open-modal:hover {
    scale: 1.1;
}