.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.btn {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: var(--btn-primary);
    font-size: 1.8rem;
    font-weight: bold;
    color: aliceblue;
    transition: background-color .3s ease;
}

.btn:hover {
    background-color: var(--btn-primary-hover);
}

.btn-on {
    background-color: var(--btn-active);
}

.btn-on:hover {
    background-color: var(--btn-active-hover);
}

.btn-off {
    background-color: var(--btn-off);
}

.btn-off:hover {
    background-color: var(--btn-off-hover);
}