.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.content {
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;
    width: 300px;
    min-height: 200px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}