.star-item {
    cursor: pointer;
    filter: drop-shadow(0px 1px 2px light-dark(rgba(0,0,0,0.8),rgba(255, 255, 255, 0.8)));
    transition: all .3s ease-in;
}

.star-item--active {
    color: yellow;
}