.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 2.4rem;
}

.navbar {
    width: 100%;
    height: 100%;
    background-color: var(--btn-primary);
    padding: 1.6rem 2.4rem;
    border-radius: 4px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.navbar-item-container {
    width: 100%;
    max-width: fit-content;
    height: 30px;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 2.4rem;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: background-color 0.3s ease-in;
}


.navbar-item--active {
    background-color: #4545cc;
}

.navbar-item:hover {
    background-color: #4545cc;
}


@media only screen and (max-width: 800px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar-item-container {
        max-width: 100%;
    }
}