:root {
    --btn-primary: cornflowerblue;
    --btn-primary-hover: rgb(47, 101, 197);
    --btn-active: mediumseagreen;
    --btn-active-hover: rgba(60, 179, 113, 0.53);
    --btn-off: #961919;
    --btn-off-hover: #881e1e;
    --acordion-item: aliceblue;
    --acordion-item-answer: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1.6rem;
}