:root {
    --btn-primary: cornflowerblue;
    --btn-primary-hover: rgba(100, 149, 237, 0.7);
    --btn-active: mediumseagreen;
    --btn-active-hover: rgba(60, 179, 113, 0.53);
    --acordion-item: #efb46c;
    --acordion-item-answer: #efbd80;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1.6rem;
}