:root {
    --btn-primary: cornflowerblue;
    --btn-primary-hover: rgb(47, 101, 197);
    --btn-active: mediumseagreen;
    --btn-active-hover: rgba(60, 179, 113, 0.53);
    --btn-off: #961919;
    --btn-off-hover: #881e1e;
    --acordion-item: aliceblue;
    --acordion-item-answer: white;
    --soft-orange: #e7721c;
    --soft-blue: #272788;
    --navBarItemActive: #4545cc;
    color-scheme: light dark;
    /*Light Mode Colors*/
    --light-bg: #fff;
    --light-text: #ccc;
    /*Light Mode Colors*/
    --dark-bg: #333;
    --dark-text: #333;

    --text-color: light-dark(#333, #ccc);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1.6rem;
}